<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/tp.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio Using Angular8</h4>
          <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3 </h5>
            <h5 class="card-text"><a href="#">View my Live Demo</a></h5>
           
          <a href="#" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                 
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/tdd.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">The Digital Drift Website using Wordpress</h4>
           <h5 class="card-text"><b>Technology :</b> Wordpress,HTML,CSS </h5>
    
            <h5 class="card-text"><a href="https://thedigitaldrift.com/">View my Live Demo</a></h5>
    
        <a href="https://thedigitaldrift.com/" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/qm.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">It can be yours</h4>
          <h5 class="card-text"><b>Technology :</b> whichever you want </h5>
            <h5 class="card-text"><a href="#">Lets Create your Live Project</a></h5>
        <a href="#" class="btn btn-primary stretched-link ml-2 mr-5 disabled">See Project</a>
        </div>
      </div>
    </div>
    </div>
    
    </div>
    </div>
  </div>